<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>4umiChan</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1 th:text="${otsikko}"></h1>
        <ul>
            <li th:each="ketju : ${ketjut}">
                <a th:href="@{~/ketju/{id}(id=${ketju.id})}">
                    <span th:text="${ketju.otsikko}">Viestien otsikot</span>
                </a>
            </li>
        </ul>

        <form method="POST">
            <input type="text" name="otsikko"/>
            <input type="submit" value="Uusi viestiketju"/>
        </form>
        <a href = "/">
            <span>Takaisin edelliselle sivulle</span>
        </a>
    </body>
</html>