<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>4umiChan</title>
        <meta charset="utf-8" />

        <!-- bootstrap. tää heittää kivat fontit noihin teksteihin, 
             voisi ehkä ladata kivat fontit itekkin ilman että latais koko bootstrappia -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> </link>
        <link rel="stylesheet" href="/common.css"></link>

        <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
        <script type="text/javascript">
            window.cookieconsent_options = {"message": "Verkkosivu sisältää evästeitä - Jos et tykkää niistä, älä kirjaudu sisään", "dismiss": "Juu, ok", "learnMore": "Lisätietoja evästeistä", "link": "https://fi.wikipedia.org/wiki/Ev%C3%A4ste", "theme": "light-bottom"};
        </script>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
        <!-- End Cookie Consent plugin -->


    </head>

    <body>
        <iframe src="/ylapalkki" width="100%" height="75" scrolling="no">Yläpalkki ei näy koska selain ei tue iframeja</iframe>
        
        <h1><span>Aihealueet</span></h1>
        <strong class="column-1">Otsikko</strong>
        <strong class="column-2">Viestien lukumaara</strong>
        <strong class="column-3">Uusin viesti </strong>

        <ul>
            <li th:each="aihealue : ${aihealueet}">
                <a class="column-1" th:href="@{~/aihealue/{id}(id=${aihealue.id})}" th:text="${aihealue.otsikko}"></a>
                <span class="column-2" th:text="${aihealue.viestienLukumaara}"></span>
                <span class="column-3" th:text="${aihealue.uusinViesti.aika}"></span>
                <div class="column-4" th:switch="${kayttaja != null} ? ${kayttaja.tyyppi}">
                    <form th:case="'1'" th:action="@{~/aihealue/{id}/delete(id=${aihealue.id})}" method="POST">
                        <input type="submit" value="Poista"/>
                        <p th:case="*"></p>
                    </form>
                </div>
            </li>
        </ul>

        <form method="POST">
            <input type="text" name="otsikko"/>
            <input type="submit" value="Uusi Aihealue"/>
        </form>

    </body>
</html>